{% extends "ProgPracticoBundle::plantilla.html.twig" %}

{% block contenido %}
<h1>Informacion de contacto</h1>
<ul>
    <li>{{nombre}}</li>
    <li>{{telefono}}</li>
</ul>

{% endblock %}

{% block pie %}
<hr>
        <div align="center">-Cuide su Salud . Atencion en horario comercial-</div>
        <hr>
{% endblock %}